

h1 {
    background-color: aqua;
}

.fa-brands {
    padding: 26px;
    font-size: 100px;
    width: 200px;
    text-align: center;
    text-decoration: none;

}

.fa-github-square {
    background-color: aqua;
    color: purple ;
}

.fa-solid {
    padding: 26px;
    font-size: 100px;
    width: 200px;
    text-align: center;
    text-decoration: none;
}